[Unit]
Description=Enable Turbo Boost on Intel CPUs
After=multi-user.target
Before=auto-cpufreq.service
ConditionPathExists=/opt/intel/intel_turbo.sh

[Service]
Type=oneshot
ExecStart=/opt/intel/intel_turbo.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target